<div class="site-wrapper">

      <div class="site-wrapper-inner">
      <div class="image-banner" style="overflow-y: hidden; max-height: 400px;">
        <img src="/images/simba-home.jpg" style="width: 100%;">
      </div>

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Simba's Parents</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/location/">Location</a></li>
                  <li><a href="/charities/">Charities</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Tyler and Abby are getting married!</h1>
            <h3>September 9, 2017</h3>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created in free time by Simba and Tyler.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
