<div class="site-wrapper">

      <div class="site-wrapper-inner">
      <div class="image-banner" style="overflow-y: hidden; max-height: 400px;">
        <img src="/images/simba2.JPG" style="width: 100%; margin-top: -21%;">
      </div>
        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Simba's Parents</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/location/">Location</a></li>
                  <li><a href="/charities/">Charities</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner">
            <h1 class="cover-heading">Location</h1>
            <p class="lead">
              Wilderness Ridge<br>
              1800 Wilderness Woods Place<br>
              Lincoln, NE 68512<br>
              <a target="_blank" href="https://www.google.com/maps/place/1800+Wilderness+Woods+Pl,+Lincoln,+NE+68512/@40.7220709,-96.6956863,16.5z/data=!4m5!3m4!1s0x8796944d1589699f:0x257b184fd5f9517f!8m2!3d40.722026!4d-96.6931388">See Map</a>
            </p>
          </div>

          <div class="inner links">
            <h1 class="cover-heading">Accomodations</h1>
            <h4>Block of rooms available at:</h4>
            <p class="lead">
              Holiday Inn Lincoln Southwest<br>
              2500 Tamarin Ridge Rd<br>
              Lincoln, NE 68512<br>
              (402) 421-1893<br>
              <a href="https://www.ihg.com/holidayinn/hotels/us/en/lincoln/lnkpz/hoteldetail?cm_mmc=GoogleMaps-_-hi-_-USEN-_-lnkpz">Website</a><br>
              <a target="_blank" href="https://www.google.com/maps/dir/''/holiday+inn+southwest+lincoln/data=!4m5!4m4!1m0!1m2!1m1!1s0x879695cbbb952489:0x3354db34ab3e767b?sa=X&ved=0ahUKEwir3cWAwtTQAhXs7YMKHbORA18Q9RcIoAEwCw">See Map</a><br>
              Use code <strong>NLW</strong> before August 9, 2017.
            </p>
            <br>
            <h3>Shuttle</h3>
            <p class="lead">
              Shuttle service will be provided between Wilderness Ridge and&nbsp;Holiday&nbsp;Inn.
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created in free time by Simba and Tyler.</p>
            </div>
          </div>

        </div>

      </div>

    </div>