<div class="site-wrapper">

      <div class="site-wrapper-inner">
      <div class="image-banner" style="overflow-y: hidden; max-height: 400px;">
        <img src="/images/simba3.JPG" style="width: 100%; margin-top: -28%;">
      </div>

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Simba's Parents</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/location/">Location</a></li>
                  <li class="active"><a href="/charities/">Charities</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Charities</h1>
            <p class="lead">
              In lieu of gifts, we ask that you donate to one of these charities:
              <ul style="text-align: left;">
              <li><a target="_blank" href="https://act.350.org/donate/build/">350.org</a>, a non-profit empowering climate change activism
              and fighting to keep global warming below 2 degrees Celsius by 2100.</li>
              <li><a target="_blank" href="https://secure.nrdconline.org/site/Donation2?df_id=16182&16182.donation=form1&s_src=MRSENRDC116&utm_source=mrad&utm_medium=web">NRDC (National Resources Defense Council)</a>, safeguarding the Earth from corporations, politics, and greed.</li>
              <li><a target="_blank" href="https://www.redcross.org/donate/donation">The American Red Cross</a></li>
              <li><a target="_blank" href="https://secure.aspca.org/donate/ps-gn-p2?ms=MP_PMK_Googlebrand-T4&initialms=MP_PMK_Googlebrand-T4&pcode=WPSE9XXGOGN2PK00014&lpcode=WPSE9XXGOGN1PK00014&gclid=CjwKEAiA9s_BBRCL3ZKWsfblgS8SJACbST7DQkIax7LAxWL1nfn6I4mdsmV_LRs5YFDct0i6tHNyNxoCJxTw_wcB">ASPCA (American Society for Prevention of Cruelty to Animals)</a></li>
              </ul>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created in free time by Simba and Tyler.</p>
            </div>
          </div>

        </div>

      </div>

    </div>